
html {
    scroll-behavior: smooth;
}

body {
    background-color:#ebf0e8;
    margin: 0;
    font-family: 'Lucida Grande';
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    height: 65px;
    width: 100%;
    background-color: #306838;
    position: fixed;
    top: 0;
    z-index: -10;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    transition: all 0.5s;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;

}

.logo {
    width: 80px;
    
}


@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
}